<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant&display=swap" rel="stylesheet">
    <title>Harvard EasySearch</title>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D8FDEQFS19"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-D8FDEQFS19');
</script>
</head>
<body>
    <div class="header-container">
        <div class="header header-left"></div>
        <div class="header header-right">
            <h1 class="logo">Harvard EasySearch</h1>
        </div>
    </div>

    <!-- Main content placeholder for pages that inherit from this base -->
    <div class="content">
        <button class="home-button" onclick="window.location.href='{{ url_for('index') }}'">Back to Search</button>

        {% block content %}{% endblock %}
    </div>


    <footer>
        <p>This website is not affiliated with Harvard University or any Harvard faculty/students. All data is publicly available from the Harvard Open Data Project.</p>
    </footer>

</body>
</html>
