{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='course.css') }}">
    <h1>Course Details</h1>
    
    <h2>{{ course.course_title }}</h2>
    <p><strong>Course ID:</strong> {{ course.course_id }}</p>
    <p><strong>Course Name:</strong> {{ course.course_name }}</p>
    <p><strong>Course Section Code:</strong> {{ course.course_section_code }}</p>
    <p><strong>Course Department:</strong> {{ course.course_department }}</p>

    <h3>Instructors</h3>
    <ul>
        {% for instructor in course.instructors %}
            <li class="instructor-tag">
                <a href="{{ url_for('instructor', slug=generate_slug(instructor)) }}">{{ instructor }}</a>
            </li>
        {% endfor %}
    </ul>

    <h3>Enrollment Metrics</h3>

    <div class="dropdown-container">
        <label for="semesterSelect">Select Term: </label>
        <select id="semesterSelect">
            {% for term, value in course.ugrad.items() %}
                <option value="{{ term }}">{{ term[:-4] | capitalize }} {{ term[-4:] }}</option>
            {% endfor %}
        </select>
    </div>
    
    <table border="1">
        <thead>
            <tr>
                <th>Total</th>
                <th>Undergrad</th>
                <th>Grad</th>
                <th>Non-Degree</th>
                <th>XReg</th>
                <th>VUS</th>
                <th>Employee</th>
                <th>Withdraw</th>
            </tr>
        </thead>
        <tbody id="semesterData">
            <!-- The data for the selected semester will be populated here by JavaScript -->
        </tbody>
    </table>
    
    


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const semesterSelect = document.getElementById('semesterSelect');
            const semesterData = document.getElementById('semesterData');
            
            const courseData = {
                // Assuming you can pass the entire course data object to the frontend
                // Replace this with the actual data structure you're using
                // This is just an example to demonstrate the functionality
                total: {{ course.total | tojson }},
                ugrad: {{ course.ugrad | tojson }},
                grad: {{ course.grad | tojson }},
                nondegree: {{ course.nondegree | tojson }},
                xreg: {{ course.xreg | tojson }},
                vus: {{ course.vus | tojson }},
                employee: {{ course.employee | tojson }},
                withdraw: {{ course.withdraw | tojson }}
            };

            function updateTable() {
                const selectedTerm = semesterSelect.value;
                let tableRow = `
                    <tr>
                        <td data-label="Undergrad">${courseData.ugrad[selectedTerm]}</td>
                        <td data-label="Grad">${courseData.grad[selectedTerm]}</td>
                        <td data-label="Non-Degree">${courseData.nondegree[selectedTerm]}</td>
                        <td data-label="XReg">${courseData.xreg[selectedTerm]}</td>
                        <td data-label="VUS">${courseData.vus[selectedTerm]}</td>
                        <td data-label="Employee">${courseData.employee[selectedTerm]}</td>
                        <td data-label="Withdraw">${courseData.withdraw[selectedTerm]}</td>
                        <td data-label="Total">${courseData.total[selectedTerm]}</td>
                    </tr>
                `;

                semesterData.innerHTML = tableRow;
            }



            semesterSelect.addEventListener('change', updateTable);
            updateTable(); // Initial table data load
        });

    </script>


{% endblock %}
